<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="shopping__cart__table" *ngIf="cartItems && cartItems.length > 0; else noItems">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <td class="product__cart__item">
                  <div class="product__cart__item__pic">
                    <!-- Affichage de l'image avec une taille spécifique -->
                    <img [src]="item.imageUrl || 'assets/images/default.jpg'" alt="Image du produit" style="width: 100px; height: 100px; object-fit: cover;">
                  </div>
                  <div class="product__cart__item__text">
                    <h6>{{ item.titleart }}</h6>
                    <h5>{{ item.prixUnitaire | currency }}</h5>
                  </div>
                </td>
                <td class="quantity__item">
                  <div class="quantity">
                    <div class="pro-qty">
                      <button (click)="modifierQuantite(item, -1)" class="btn-qty minus-btn">−</button>
                      <span class="quantity-display">{{ item.qte }}</span> <!-- Affiche la quantité -->
                      <button (click)="modifierQuantite(item, 1)" class="btn-qty plus-btn">+</button>
                    </div>
                  </div>
                </td>
                
                <td class="cart__price">{{ item.prixTotalLg | currency }}</td>
                <td class="cart__close"><span class="icon_close">
                <button  mat-fab aria-label="Example icon button with a delete icon" (click)="removeItemCart(item.idart)">x</button></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noItems>
          <p>Aucun produit dans le panier.</p>
        </ng-template>
      </div>
      <div class="col-lg-4">        
        <div class="cart__total">
          <h6>Cart total</h6>
          <ul>           
            <li>Total <span>{{ cartTotal | currency }}</span></li>
          </ul>
          <button class="primary-btn" (click)="passerCommande()">Proceed to checkout</button>
        </div>
      </div>
    </div>
  </div>
</section>
