<section class="hero">
    <div class="hero__slider owl-carousel">
      <div class="hero__item" [style.background-image]="'url(' + im + ')'">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <div class="hero__text">
                <h2>Making your life sweeter one bite at a time!</h2>
                <a href="#" class="primary-btn">Our cakes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__item" [style.background-image]="'url(' + im + ')'">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <div class="hero__text">
                <h2>Making your life sweeter one bite at a time!</h2>
                <a href="#" class="primary-btn">Our cakes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  